*{
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    
  }

.side-bar{
    position: fixed;
    width:200px;
    max-width: 220px;
    background-color: #333;
    top: 215px;
    bottom: 0px;
    left: 0px;
}

/* @media(max-width:800px){
    .side-bar{
        width:25%;
        
    }
} */

.content-div{
    padding-top: 215px;
    padding-left: 200px;
    /* margin-bottom: 0px; */
    height:1000px;
    /* background-color: aqua; */
}
.css-grid{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
}
@media(max-width:800px){
    .css-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:801px){
    .css-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.course{
    /* background-color: #333; */
    margin-bottom: 25px;
    padding: 0px 30px;
    max-width: 300px;
}
img{
    width: auto;
    height: 250px;
    display: block;
    float:inline-end;
    
}
.course-description{
    position: relative;
}
.our-courses li a{
    text-decoration: none;
    color: white;
}
.discount{
    color: green;
    font-size: 150%;
    font-weight: bold;
}
.rating{
    height: 30px;
    width: 150px;
    color: rgb(237, 177, 25); 
}
.rating:hover{
    font-weight: bold;
}
.button-buy{
    text-decoration: none;
    height: 35px;
    width: 150px;
    background-color: rgb(120, 82, 178);
    color: white;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    display:block;
    float:inline-end;
}
.button-buy:hover {
    background-color: rgba(144, 89, 226, 0.766);
    font-weight: bold;
    cursor: pointer;
}