body{
    background-color:#F9E8D9;
    
}

.top-bar{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.sale{
    background-color: rgba(221, 221, 143, 0.965);
    height: 90px;
    display:flex;
    flex-direction:row;
    width: 100%;
}


.header{
    background-color: rgb(120, 82, 178);
    color: white;
    height: 45px;
    width: 100%;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    /* position: fixed; */
}
.left-section{
    background-color: aqua;
    width: 150px;
    font-size: larger;
    color: black;
}
.middle-section{
    
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 500px;
    position: relative;
}

.search-bar {
    width: 70%;
    border: none;
    height: 36px;
    border-radius: 18px;
    padding-left: 10px;
  }
.search-button{
    width: 90px;
    position: absolute;
    background-color: rgb(120, 82, 178);
    color: white;
    font-size: 16px;
    border:2px solid white;
    border-radius: 2px;
    padding: 8px 15px;
    margin-left: 20px;
    transition:ease-in;
}
.search-button:hover{
    color:rgb(120, 82, 178);
    background-color: white;
    cursor: pointer;
}
.search-button:active{
    background-color:rgb(168, 82, 178);
    color: white;
}
.right-section{
    /* background-color: blanchedalmond; */
    width: 200px;
    font-size: larger;
    color: black;
}
.login{
    background-color: rgb(228, 141, 28);
    border-style: none;
    border-radius: 10%;
    height: 40px;
    width: 80px;
    margin-left: 20px;
    align-items: flex-end;
}

.nav-bar{
    background-color: #333;
    overflow: hidden;
    /* position: fixed; */
    width: 100%;
 }
 .nav-bar ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 .nav-bar ul li{
    float: left;
 }
 
 .nav-bar ul li a{
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 14px;
 }
 .nav-bar li a:hover{
    background-color:#776c6c41;
 } 
.dropdown{
    /* position:relative; */
    /* display: inline-block; */
    float: left;
    overflow: hidden;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 215px;
    z-index: 2;
}
.dropdown-content a{
    /* position: relative; */
    background-color: #333;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 14px;
    display:list-item;

}
.dropdown-content :hover{
    background-color:black ;
    color: azure;

}
.dropdown:hover .dropdown-content{
    display: list-item;
}


.buttons1{
    font-size: 15px;
    
    display: flex;
    color:white;
    margin-top: 10px;
    width:150px;
    height:30px;
    align-content: center;
    margin-right: 50px;
    background-color: red;
    
    
    

}
.buttons1:hover{
    background-color:blue;
}

.in{
    display: flex;
    flex:1;
    flex-direction: row;
    margin-top:0px;
    margin-right: 20px;
    width: 70%;
    height: 70%;
    
    
    
    
}
.price{
    display: flex;
    flex:3;
}

.head{
    font-weight: 50px;
    font-size: 50px;
    font-family:cursive;
}
.img{
    display: flex;
    flex:1;
    
    box-shadow: 5px 5px 5px  ;
    

}


.info{
    width:70%;
    height: 70%;
    
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
    
    border-radius: 5%;
    font-weight: 5px;
    margin-left: 50px;

    


    
    
}

.course{
    margin-top: 75px;
    margin-left:50px;
    margin-right: 50px;
    display: flex;
    
    width:80%;
   /* height:50%;*/
    align-items: center;
    justify-content: center;
    background-color:rgb(194, 170, 231);
    padding-left: 10%;
    
    

  
    

}


.includes{
    width:90%;
    display: flex;
    flex:1;
    background-color: rgb(247, 216, 169);
    margin-left:50px;
    margin-right:50px;
    
    
    justify-content: center;
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul {
    list-style-type:'\2714';
    padding-right: 10px;
}

